<%= form_for(ncco) do |f| %>
  <% if ncco.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ncco.errors.count, "error") %> prohibited this ncco from being saved:</h2>

      <ul>
      <% ncco.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
