<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#record" aria-controls="record" role="tab" data-toggle="tab">Record</a></li>
    <li role="presentation"><a href="#conversation" aria-controls="conversation" role="tab" data-toggle="tab">Conversation</a></li>
    <li role="presentation"><a href="#connect" aria-controls="connect" role="tab" data-toggle="tab">Connect</a></li>
    <li role="presentation"><a href="#talk" aria-controls="talk" role="tab" data-toggle="tab">Talk</a></li>
    <li role="presentation"><a href="#stream" aria-controls="stream" role="tab" data-toggle="tab">Stream</a></li>
    <li role="presentation"><a href="#input" aria-controls="input" role="tab" data-toggle="tab">Input</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="record">Use the record action to record a Call or part of a Call: The record action is asynchronous. Recording starts when the record action is executed in the NCCO and finishes when the synchronous condition in the action is met. That is, endOnSilence, timeOut or endOnKey. If you do not set a synchronous condition, the Voice API immediately executes the next NCCO without recording.

For information about the workflow to follow, see Recordings.</div>
    <div role="tabpanel" class="tab-pane" id="conversation">You can use the conversation action to create standard or moderated Conversations. The first person to call the virtual number assigned to the Conversation creates it. This action is synchronous, the Conversation lasts until the number of participants is 0.

    Note: you can invite up to 50 people to your Conversation.
</div>
    <div role="tabpanel" class="tab-pane" id="connect">You can use the connect action to connect a call to endpoints such as phone numbers.

This action is synchronous, after a connect the next action in the NCCO stack is processed. A connect action ends when the endpoint you are calling is busy or unavailable. You ring endpoints sequentially by nesting connect actions.</div>
    <div role="tabpanel" class="tab-pane" id="talk">The talk action sends synthesized speech to a Conversation.

The text provided in the talk action can either be plain, or formatted using SSML. SSML tags provide further instructions to the text-to-speech synthesiser which allow you to set pitch, pronunciation and to combine together text in multiple languages. SSML tags are XML-based and sent inline in the JSON string.

By default, the talk action is synchronous. However, if you set bargeIn to true you must set an input action later in the NCCO stack. </div>
    <div role="tabpanel" class="tab-pane" id="stream">The stream action allows you to send an audio stream to a Conversation

By default, the talk action is synchronous. However, if you set bargeIn to true you must set an input action later in the NCCO stack. </div>
    <div role="tabpanel" class="tab-pane" id="input">You can use the input action to collect digits input by the person you are calling. This action is synchronous, Nexmo processes the input and forwards it in the parameters sent to the eventURL webhook endpoint you configure in your request. Your webhook endpoint should return another NCCO that replaces the existing NCCO and controls the Call based on the user input. You could use this functionality to create an Interactive Voice Response (IVR). For example, if your user presses 4, you return a connect NCCO that forwards the call to your sales department.</div>
  </div>

</div>
