<div class="well well-sm">A Nexmo Call Control Object (NCCO) is a JSON array of actions that you use to control the flow of a Voice API call.

This section tells you:

About Nexmo Call Control Objects
Controlling a Call with Nexmo Call Control Objects

About Nexmo Call Control Objects

The Call event model is asynchronous. A static or dynamically created NCCO script provides the business logic for your Call. When a Call starts, Platform makes a synchronous request to your webhook endpoint at answer_url and retrieve the NCCO object that controls the Call.

The general schema of an NCCO is:
</div>

<br>
<code class="language-json" data-lang="json">
[
  {
    "action": "<value>",
    "<option1>": "<value>",
    "<option2>": [
      {
        "type": "<value>",
        "<option1>": "<value>"
      },
      {
        "type": "<value>",
        "<option1>": "<value>",
        "<option2>": "<value>"
      }
    ]
  }
]
</code>

<br><br>
<div class="well well-sm">
The elements of the NCCO schema are:

action - something to be done in the Call.
option - how to customize an action.
type - describes an option. For example, type=phone for an endpoint option.
The order of actions in the NCCO controls the flow of the Call. This is called the stack. Order matters. Unless explicitly halted NCCO are executed on a FIFO basis. When an action is completed, the next action in the stack is executed. When all the actions in the NCCO are complete, the Call ends.
</div>
