<h1>Editing Ncco Conversation Action</h1>

<%= render 'form', ncco_conversation_action: @ncco_conversation_action %>

<%= link_to 'Show', @ncco_conversation_action %> |
<%= link_to 'Back', ncco_conversation_actions_path %>
