<footer class="footer">
  <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <a class="text-muted"><%= link_to "nexmo docs", "https://developer.nexmo.com/", target: :blank, :class => "navbar-brand" %></a>
          <a class="text-muted"><%= link_to "voice playground", "https://dashboard.nexmo.com/voice/playground", target: :blank, :class => "navbar-brand" %></a>
          <a class="text-muted"><%= link_to "nexmo-api app", "https://api-nexmo-v2.herokuapp.com/", target: :blank, :class => "navbar-brand" %></a>
        </div>
  </nav>
</footer>
